<%- include('./partials/header.ejs') %>
<div class="container mt-5">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Restoran ime</h5>
                  <p class="card-text"><%= restaurant.opis %> .</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><strong>Radno vreme:</strong> <%= restaurant.radno_vreme %> </li>
                  <li class="list-group-item"><strong>Lokacija:</strong> <%= restaurant.lokacija %> </li>
                  <li class="list-group-item"><strong>Telefon: </strong> <%= restaurant.telefon %> </li>
                </ul>
                <div class="card-body d-flex flex-column justify-content-start">
                  <a href="/" class="card-link">Pogledaj ostale restorane</a>
                </div>
              </div>
        </div>
        <div class="col-6">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      MENI
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <ul class="list-group">
                        <% restaurant.meni.forEach(namirnica => { %>
                          <li class="list-group-item"> <%= namirnica %>  </li>
                        <% }) %>
                      </ul>
 
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
<%- include('./partials/footer.ejs') %>